@use "./../../helper/mixin" as m;
@use "./../../helper/variables" as v;

.schedule {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  width: 100%;
  gap: 1.8rem;

  &-center {
    height: fit-content;
    width: 100%;
    position: relative;

    .schedule-container {
      @include m.flex($justify: space-between);
      width: 100%;

      .isi-container {
        display: flex;
        gap: 10px;

        .month {
          @include m.flex();
          height: 2.15rem;
          padding: 0 4px;
          border-radius: 3px;
          border: #ddd solid 0.1rem;
          cursor: pointer;
          outline: none;
        }

        .tombol {
          width: 100%;
          height: 2.1rem;
          gap: 0.3rem;
          @include m.flex();
          padding: 0 13px 0 10px;
          color: white;
          background-color: #5272e9;
          border: 0;
          border-radius: 3px;
          cursor: pointer;

          span {
            @include m.flex();
          }

          &:hover {
            background-color: #3f5de7;
            transition: 0.5s;
          }

          p {
            padding-left: 4px;
          }
        }
      }
    }

    .weekly-schedule {
      position: absolute;
      width: 100%;
      height: auto;
      margin-top: 40px;
      overflow-x: auto;
      // margin: auto;

      table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        border: 0 solid transparent;
        text-align: center;

        th {
          border: none;
          padding: 10px;
          font-weight: 400;
          color: #b1b1b1;
          line-height: 100%;
          font-size: 0.95rem;

          span {
            &:first-child {
              display: block;
              padding-bottom: 0.15rem;
            }

            &:last-child {
            }
          }
        }

        td {
          font-weight: 400;
          border: 1px solid #b1b1b1;
          border-left: none;
          border-right: none;
          padding: 4px;
          position: relative;
        }

        .week {
          color: #b1b1b1;
        }

        .hour {
          color: #b1b1b1;
          border: none;
        }

        .card {
          width: 100px;
          height: 100%;
          @include m.flex();
          border-radius: 5px;
          padding: 12px 0;
          border: 0.1rem solid #000;
        }
      }
    }
  }

  &-right {
    width: 100%;
    height: auto;
    position: relative;
    @include m.flex($direction: column, $justify: flex-start);
    gap: 1.4rem;
    padding-left: 2.1rem;

    &::before {
      content: "";
      position: absolute;
      top: -3rem;
      left: 0;
      width: 125%;
      height: 115%;
      background-color: #fff;
      z-index: 1;
    }

    .calendar {
      width: 100%;
      height: auto;
      @include m.flex($direction: column);
      padding: 1rem 1.2rem;
      border-radius: 10px;
      border: 0.1rem solid #e4e4e4;
      gap: 0.6rem;
      z-index: 2;

      .header {
        position: relative;
        width: 100%;
        height: auto;
        @include m.flex($justify: space-between);
        margin-bottom: 1.2rem;

        button {
          @include m.flex();
          border: none;
          color: #5272e9;
          background-color: transparent;
          cursor: pointer;
        }

        .monthYear {
          width: 100%;
          text-align: center;
          font-weight: 700;
          font-size: 0.95rem;
        }
      }

      .days {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .day {
          font-weight: 700;
          font-size: small;
          text-align: center;
          color: #7a7a7a;
        }
      }

      .dates {
        width: 100%;
        font-size: 0.65rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.1rem;
        margin-top: -0.4rem;
        justify-content: center;

        .date {
          @include m.flex();
          text-align: center;
          margin: auto;
          cursor: pointer;
          font-weight: 300;
          width: 30px;
          height: 30px;
          transition: 0.2s;
          border-radius: 50%;
          font-weight: 500;

          &:hover,
          &.active {
            background-color: #5272e9;
            color: white;
          }

          &.inactive {
            color: rgba($color: #000, $alpha: 0.3);

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .calendar-detail {
      width: 100%;
      height: auto;
      padding: 0.8rem 1.2rem;
      @include m.flex($direction: column);
      border-radius: 10px;
      border: 0.1rem solid #ddd;
      gap: 1rem;
      z-index: 2;

      .header-detail {
        width: 100%;
        @include m.flex($justify: space-between);
        font-size: 16px;

        .tombol {
          border: 0px solid transparent;
          background-color: transparent;
          color: #5272e9;
          cursor: pointer;
        }
      }

      .container-detail {
        list-style-type: none;
        display: grid;
        width: 100%;
        gap: 0.6rem;

        li {
          font-size: 12px;
          font-weight: 500;
          @include m.flex($justify: flex-start);
          gap: 0.5rem;

          @mixin check($bg-color) {
            font-weight: 500;
            color: white;
            @include m.flex();
            border-radius: 3px;
            background-color: $bg-color;
            padding: 0.15rem;
          }

          .check-1 {
            @include check($bg-color: #5272e9);
          }

          .check-2 {
            @include check($bg-color: #24b0c9);
          }

          .check-3 {
            @include check($bg-color: #fd9e30);
          }

          .check-4 {
            @include check($bg-color: #fd3055);
          }

          .check-5 {
            @include check($bg-color: #5aee72);
          }

          .check-6 {
            @include check($bg-color: #3ef1fd);
          }

          p {
            line-height: 120%;
            font-weight: 500;
          }
        }
      }
    }
  }
}
