@use "./../../helper/mixin" as m;
@use "./../../helper/variables" as v;

.schedule {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .isi-container {
      display: flex;
      gap: 10px;

      .month {
        height: fit-content;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
      }

      .tombol {
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        color: white;
        background-color: #5272e9;
        border: 0;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background-color: #3f5de7;
          transition: 0.5s;
        }

        p {
          padding-left: 4px;
        }
      }
    }
  }

  .weekly-schedule {
    width: 100%;
    padding: 20px 20px 0 0;
    margin: auto;

    table {
      border-collapse: collapse;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      border: 0 solid transparent;
      text-align: center;
    }

    th {
      border: none;
      padding: 10px;
      color: #b1b1b1;
    }

    td {
      border: 1px solid #ddd;
      border-left: none;
      border-right: none;
      padding: 10px;
      position: relative;
    }

    .week {
      padding-right: 10px;
      font-weight: bold;
    }

    .hour {
      color: #7a7a7a;
      border: none;

      .card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background-color: #5272e9;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
    }

  }

  &-right {
    position: relative;
    top: -29px;
    right: -29px;
    background-color: white;
    width: 100%;
    padding: 20px 20px;

    .calendar {
      width: 350px;
      margin: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid #e4e4e4;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        color: #5272e9;
        background-color: #fff;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }

    .monthYear {
      text-align: center;
      font-weight: 600;
      width: 150px;
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .day {
      font-size: small;
      text-align: center;
      padding: 5px;
      color: #7a7a7a;
      font-weight: 500;
    }

    .dates {
      font-size: small;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      margin: auto;
      cursor: pointer;
      font-weight: 300;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transition: 0.2s;

      &:hover,
      &.active {
        background-color: #5272e9;
        color: white;
      }

      &.inactive {
        color: #e4e4e4;

        &:hover {
          color: #fff;
        }
      }
    }

    .calendar-detail {
      width: 350px;
      margin: 20px auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid #e4e4e4;

      .container-detail {
        gap: 10px;

        ul {
          list-style-type: none;
          margin: auto;
          margin-top: 10px;

          li {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;

            .check-1 {
              font-weight: 500;
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #5272e9;
            }

            .check-2 {
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #24b0c9;
            }

            .check-3 {
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #fd9e30;
            }

            .check-4 {
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #fd3055;
            }

            .check-5 {
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #5aee72;
            }

            .check-6 {
              color: white;
              display: flex;
              align-items: center;
              border-radius: 3px;
              background-color: #3ef1fd;
            }

            p {
              margin-left: 10px;
            }
          }
        }
      }

      .header-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        .tombol {
          border: 0px solid transparent;
          background-color: transparent;
          color: #5272e9;
          cursor: pointer;
        }
      }
    }
  }
}
