@use "./../../helper/mixin" as m;
@use "./../../helper/variables" as v;

.schedule {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;

  &-center {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .isi-container {
      display: flex;
      gap: 10px;
    }
    .month {
      height: fit-content;
      padding: 8px;
      border-radius: 3px;
    }

    .tombol {
      height: fit-content;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      color: white;
      background-color: #5272e9;
      border: 0;
      border-radius: 3px;
    }
  }

  &-right {
    position: relative;
    top: -29px;
    background-color: white;
    margin: 0 0 0 20px;
    width: 100%;
    padding: 20px;

    .calendar {
      width: 280px;
      margin: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid #e4e4e4;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        color: #5272e9;
        background-color: #fff;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }

    .monthYear {
      text-align: center;
      font-weight: 600;
      width: 150px;
    }
    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .day {
      font-size: small;
      text-align: center;
      padding: 5px;
      color: #7a7a7a;
      font-weight: 500;
    }

    .dates {
      font-size: small;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      margin: auto;
      cursor: pointer;
      font-weight: 300;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      transition: 0.2s;

      &:hover,
      &.active {
        background-color: #5272e9;
        color: white;
      }

      &.inactive {
        color: #e4e4e4;

        &:hover {
          color: #fff;
        }
      }
    }

    .calendar-detail {
      width: 280px;
      margin: 20px auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid #e4e4e4;

      .header-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tombol {
          border: 0px solid transparent;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
