$w-sidebar-expand: 20vw;
$w-sidebar-collapse: 5vw;

$main: (
  "light-purple": rgb(242, 239, 255),
  "dark-purple": rgb(89, 50, 234),
  "green-cryan": rgb(22, 192, 152),
  "green": rgb(90, 238, 114),
  "dark-blue": rgb(26, 143, 136),
  "blue": rgb(82, 114, 233),
  "light-blue": rgb(62, 241, 253),
  "orange": rgb(253, 158, 48),
  "red": rgb(253, 48, 85),
);
